/*
 *Appica Android Template Style Sheet v1.1
 *Copyright 2013 8Guild.com
 */

/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Lato', sans-serif;
}

/*Global Styles*/
body {
	
	overflow: hidden;
}
.parallax { background-attachment: fixed; }
h1 {
	font-size: 3em;
	font-weight: 100;
	color: #999999;
	text-align: center;
	margin-bottom: 35px;
}
h2 { 
	font-size: 3em;
	font-weight: 100;
	color: #999999;
	text-align: center;
	margin-bottom: 35px;
}
h3 {
	font-size: 2.25em;
	font-weight: 100;
	color: #999999;
	text-align: center;
	margin-bottom: 110px;
}
h4 {
	font-size: 1.5em;
	font-weight: 100;
	color: #999999;
	text-align: center;
	margin-bottom: 30px;
}
p {
	font-size: 1.125em;
	color: #999999;
	text-align: justify;
	font-weight: 300;
}
.white { color: #fff !important; }
.last { margin-right: 0px !important; }

/*Clearfix*/
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
*:first-child+html .group { zoom: 1; } /* IE7 */
.clear {
	clear: both;
}

/*Side Menu*/
.side-menu {
	position: fixed;
	width: 241px;
	height: auto;
	min-height: 100%;
	top: 0;
	left: -241px;
	-webkit-transition: left 250ms ease-in-out;
	-moz-transition: left 250ms ease-in-out;
	-o-transition: left 250ms ease-in-out;
	transition: left 250ms ease-in-out;
	z-index: 90;
}
.side-menu.open {
	left: 0;
}
.side-menu nav {
	position: absolute;
	width: 240px;
	height: auto;
	min-height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
}
.side-menu nav ul {
	list-style: none;
	margin-top: 40px;
	width: 100%;
}
.side-menu nav ul li {
	max-width: 238px;
}
.side-menu nav ul li a {
	display: block;
	width: 100%;
	font-size: 1.4em;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	padding: 7px 15px 7px 35px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	transition: all 400ms ease;
}
.side-menu nav ul li:hover a,
.side-menu nav ul li.active a {
	background-color: #451bbb;
}
.menu-toggle {
	position: absolute;
	display: block;
	width: 46px;
	height: 46px;
	top: 40px;
	right: -60px;
	cursor: pointer;
	padding: 9px 0;
	background-color: #451bbb;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.menu-toggle .bar-long,
.menu-toggle .bar {
	display: block;
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 5px auto;
}
.menu-toggle .bar-long {
	width: 32px;
}
.menu-toggle:hover {
	background-color: #290F74;
}

/*Backgrounds*/
.home-bg {
	background: url(../img/img-winPhone/backgrounds/home-bg.png) repeat;
	background-size: cover;
}
.pricing-bg {
	background: url(../img/img-winPhone/backgrounds/pricing-bg.png) repeat;
	background-size: cover;
}

/*App Showcase Right Block*/
.app-showcase {
	padding-top: 120px;
}
.info-block {
	padding: 30px 30px 0 30px;
	background-color: rgba(69, 27, 187, 0.8);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 10px;
}
.logo {
	margin-bottom: 20px;
	width: 278px;
	height: 86px;
}
.logo img {
	max-width: 100%;
	height: auto;
}
.app-showcase h1 {
	font-size: 2.25em;
	color: #fff;
	margin-bottom: 0;
	text-align: left;
}
.app-showcase p {
	margin: 15px 0 30px 0;
	font-size: 1.2em;
	font-weight: 100;
	color: #fff;
	text-align: justify;
}
.winStore-btn,
.zuneStore-btn {
	display: block;
	width: 165px;
	height: 165px;
	float: left;
	margin: 0 30px 30px 0;
	background: #fff url(../img/img-winPhone/winStore2.png) no-repeat top center;
	-webkit-transition: all 400ms ease, border-bottom 400ms ease;
	-moz-transition: all 400ms ease, border-bottom 400ms ease;
	transition: all 400ms ease, border-bottom 400ms ease;
}
.zuneStore-btn {
	background: #fff url(../img/img-winPhone/zuneStore2.png) no-repeat top center;
	margin-right: 0px;
}
.winStore-btn:hover,
.zuneStore-btn:hover {
	background-color: #DBCFFF;
}
.google-play-btn:active,
.google-drive-btn:active {
	border-bottom: none;
	background-color: #d2d2d2;
	border-top: 2px solid #838383;
}

/*App Slideshow*/
#phone {
	width: 280px;
	height: 550px;
	background: url(../img/img-winPhone/slideshow/phone2.png) no-repeat;
	padding: 68px 0 0 22px;
	position: relative;
	z-index: 10;
}
#phone .slideshow {
	display: block;
	width: 234px;
	height: 405px;
	overflow: hidden;
}
#phone .slideshow img {
	width: 100%;
}
#phone .controls {
	position: absolute;
	bottom: -72px;
	left: 26px;
}
#phone .controls span {
	display: block;
	float: left;
	font-size: 1.3em;
	color: #451bbb;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: -1px;
}
#phone .controls .prev,
#phone .controls .next {
	width: 70px;
	height: 30px;
	margin-top: 0;
}
#phone .controls .prev a,
#phone .controls .next a {
	color: #999999;
	display:block;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	transition: all 400ms ease;
}
#phone .controls .prev a:hover,
#phone .controls .next a:hover {
	color: #451bbb;
}

/*Social Networks*/
.social {
	position: relative;
	width: 100%;
	background-color: #fff;
	margin-top: -40px;
	padding-top: 65px;
	padding-bottom: 45px;
	border-bottom: 1px solid #cccccc;

	z-index: 9;
}
.social h3 {
	font-size: 1.5em;
	color: #451bbb;
	font-weight: 100;
	text-align: left;
	text-transform: uppercase;
	margin: -40px 0 0 0;
}
.social .col-lg-6 {
	padding: 0;
}
.social-icons a {
	display: block;
	float: left;
	width: 37px;
	height: 38px;
	padding-top: 5px;
	text-decoration: none;
	color: #fff;
	background-color: #999999;
	font-size: 1.85em;
	text-align: center;
	margin: 22px 66px 0 0;
	border-bottom: 2px solid transparent;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	transition: all 400ms ease;
}
.social-icons a:last-child {
	margin-right: 0;
}
.social-icons a:hover {
	background-color: #451bbb;
}

/*Content Style*/
.content-block {
	width: 100%;
	padding: 80px 0; 
}
.content-block.white {
	background-color: #fff;
}

/*Features*/
#features > div > div > h3 {
	color: #451bbb;
}
#features h2 {
	color: #000;
}
.feature {
	width: 100%;
	margin-bottom: 40px;
}
.feature img {
	display: block;
	margin: 0 auto 50px auto;
}
.feature h3 {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 1.7em;
}

/*Pricing*/
.pricing-plan {
	width: 100%;
	padding: 34px 0;
	margin-bottom: 40px;
	position: relative;
	background-color: rgba(26, 26, 26, 0.5);
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.pricing-plan:hover {
	background-color: rgba(69, 27, 187, 0.8);
}
.pricing-plan h4 {
	font-size: 2.25em;
	font-weight: 300;
	color: #E2DFDF;
	text-align: center;
	margin-bottom: 35px;
	position: relative;
	z-index: 1;
}
.pricing-plan ul {
	list-style: none;
	margin: 0;
	text-align: center;
	position: relative;
	z-index: 1;
}
.pricing-plan ul li {
	display: block;
	width: 100%;
	color: #E2DFDF;
	padding: 13px 0;
	font-size: 1.125em;
	font-weight: 300;
	border-bottom: 1px solid #E2DFDF;
}
.pricing-plan ul li span {
	font-weight: 700;
}
.pricing-plan ul li:last-child {
	border: none;
}

/*Team*/
#team {
	background-color: rgba(69, 27, 187, 0.8);
}
#team h2, #team h3, #team h4{
	color: #fff;
}
.team {
	width: 100%;
	margin-bottom: 40px;
}
.team img {
	display: block;
	margin: 0 auto 30px auto;
	border: 5px solid transparent;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.team h3,
.team h4 {
	font-weight: 300;
	margin-bottom: 25px;
}
.team .social-icons {
	display: table;
	margin: -10px auto 0 auto;
}
.team .social-icons a {
	margin-right: 20px;
	background-color: transparent;
	border: 1px solid #fff;
}
.team .social-icons a:hover {
	background-color: #fff;
	color: #451bbb;
}
.team .social-icons a:last-child {
	margin-right: 0px;
}
.team img {
	border-radius: 50%;
}
.team:hover img {
	border: 5px solid #fff;
}
/*Clients*/
.clients {
	width: 100%;
	background-color: #fff;
	padding: 108px 0 70px 0;
	border-top: 1px solid #999999;
}
.clients a {
	display: block;
	width: 262px;
	margin: 0 auto 30px auto;
}

/*Gallery*/
.gallery {
	width: 100%;
	position: relative;
}
.gallery ul {
	list-style: none;
	margin: 0;
}
.gallery ul li.violet {
	background-color: #94368d;
}
.gallery ul li.green {
	background-color: #109dff;
}
.gallery ul li.blue {
	background-color: #66cccc;
}
.gallery ul li img {
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
}
.bx-pager {
	display: table;
	position: relative;
	z-index: 80;
	margin: -26px auto 0 auto;
}
.bx-pager-item {
	width: 12px;
	height: 12px;
	float: left;
}
.bx-pager-item a {
	width: 12px;
	height: 12px;
	background-color: #999;
	outline: none;
	position: relative;
	text-indent: -9999px !important;
}
.bx-wrapper .bx-pager {
	text-align: center;
	margin: 30px auto 25px auto
}
.bx-controls {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 12px;
	height: 12px;
	margin: 0 7px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff;
	opacity: 0.5;
	text-indent: -9999px;
	display: block;
	width: 12px;
	height: 12px;
	outline: 0;
	border-radius: 50%;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
	opacity: 1;
	width: 12px;
	height: 12px;
	margin: 0;

}
.prev-slide,
.next-slide {
	position: absolute;
	display: block;
	font-size: 4em;
	width: auto;
	height: 30px;
	top: 50%;
	z-index: 80;
	margin-top: -50px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease;
}
.prev-slide {
	left: 30px;
}
.next-slide {
	right: 30px; 
}
.prev-slide a,
.next-slide a {
	color: #fff;
	display:block;
	text-align: center;
	text-decoration: none;
}
.gallery:hover .prev-slide,
.gallery:hover .next-slide {
	opacity: 1;
	filter: alpha(opacity=100);
}

/*Buttons*/
.btn-middle {
	display: table;
	margin: auto;
}
.signup-btn {
	display: inline-block;
	margin-top: 25px;
	height: 45px;
	position: relative;
	z-index: 1;
	border: 1px solid #fff;
	padding: 9px 30px 0 30px;
	font-size: 1.25em;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	background-color: rgba(26, 26, 26, 0.5);
	-webkit-transition: all 450ms ease;
	-moz-transition: all 450ms ease;
	transition: all 450ms ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.signup-btn:hover {
	border: 1px solid #fff;
	text-decoration: none;
	background-color: #fff;
	color: #451bbb;
}
.signup-btn:active {
	border-bottom: none;
	background-color: #d2d2d2;
	border-top: 2px solid #838383;
}

/*Subscribe*/
.subscribe {
	width: 100%;
	background-color: #451bbb;
	padding: 80px 0 70px 0;
}
.subscribe h1 {
	margin-bottom: 10px;
}
.subscribe span {
	display: block;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 1.125em;
}
.subscription-form {
	display: table;
	width: 100%;
	max-width: 555px;
	position: relative;
	margin: 23px auto 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.subscription-form #email {
	width: 100%;
	max-width: 375px;
	height: 50px;
	border: none;
	outline: none;
	font-size: 1.4em;
	font-weight: 100;
	color: #333;
	padding: 0 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.subscription-form #submit {
	display: block;
	position: absolute;
	width: 140px;
	height: 50px;
	top: 0;
	right: 0;
	background: none;
	background-color: #451bbb;
	border: none;
	outline: none;
	font-size: 1.25em;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #fff;
	color: #fff;
	-webkit-transition: all 400ms ease, border-bottom 400ms ease;
	-moz-transition: all 400ms ease, border-bottom 400ms ease;
	transition: all 400ms ease, border-bottom 400ms ease;
}
.subscription-form #submit:hover {
	background-color: #fff;
	color: #451bbb;
}
.subscription-form #submit:active {
	border-bottom: none;
	border-top: 2px solid #7aa346;
}
.errors {
	width: 100%;
	position: relative;
}
#error1, #error2 {
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-weight: 300;
	color: #fff;
	background-color: #e35c4a;
	margin-top: 15px;
	padding: 5px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	transition: all 400ms ease;
}
#error1.visible, #error2.visible {
	opacity: 1;
	filter: alpha(opacity=100);
}

/*Footer*/
footer {
	padding: 54px 0;
	background-color: #451bbb;
}
footer .social-icons {
	margin-top: 45px;
}
footer .social-icons a {
	background-color: transparent;
	border: 1px solid #fff;
}
footer .social-icons a:hover {
	background-color: #fff;
	color: #451bbb !important;
}
.copyright {
	width: 100%;
	position: relative;
}
.copyright img {
	max-width: 100%;
	height: auto;
}
.copyright span {
	display: block;
	position: absolute;
	margin: -25px 0 0 190px;
	color: #fff;
	font-size: 0.875em;
	font-weight: 300;
}
.copyright span a {
	color: #fff;
	text-decoration: none;
	font-weight: 400;
}
.copyright span a:hover {
	text-decoration: underline;
}

/*Content Animations*/
.animation {
	opacity: 0;
}
.ie9 .animation {
	opacity: 1;
}
.animation h2 {
	text-transform: uppercase;
}
/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff;
	z-index:100;
}
#status {
	width:229px;
	height:229px;
	position:absolute;
	left:50%;
	top:50%;
	background-image:url(../img/loading.gif);
	background-repeat:no-repeat;
	background-position:center;
	margin:-115px 0 0 -115px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1200px) {
	.social-icons a {
		margin-right: 64px;
	}

/*Tablet Portrait*/
@media screen and (max-width: 991px) {
	
	#phone { margin: 45px auto 100px auto; }
	.logo {
		width: 100%;
		position: absolute;
		top: -790px;
		margin-left: -35px;
	}
	.logo img {
		display: block;
		margin: auto;
	}
	.app-showcase { width: 100%; padding-left: 0; padding-right: 0; }
	.app-showcase h1, .social h1 { text-align: center; }
	.social { margin-top: 0px; }
	.buttons, .social-icons {
		display: table;
		margin: auto;
	}
	.social-icons a {
		margin: 22px 40px 0 0;
	}
	#phone .controls span {
		color: #fff;
	}
	#phone .controls {
		bottom: -62px;
	}
	#phone .controls .prev a,
	#phone .controls .next a {
		color: #fff;
	}
	.info-block {
		width: 100%;
		margin-top: 0px;
	}
	h1 {
		font-size: 2.6em;
		margin-bottom: 25px;
	}
	h2 { 
		font-size: 1.9em;
		margin-bottom: 65px;
	}
	h3 {
		text-align: center !important;
	}
	.content-block {
		padding: 50px 0; 
	}
	.icons-premium { padding-top: 100px; }
	.icons-premium img { margin: 0 auto 50px auto; }
	.buy-btn { margin: 40px 0; }
	.prev-slide, .next-slide { display: none; }
	footer { padding: 20px 0 54px 0; }
	.copyright img {
		display: block;
		margin: auto;
	}
	.copyright span {
		width: 100%;
		text-align: center;
		position: relative;
		margin: 30px 0 0 0;
	}
}

/*Phone Landscape*/
@media screen and (max-width: 600px) {
	
	.subscription-form #submit {
		right: 20px;
	}
	
}

@media screen and (max-width: 529px) {
	
	.social-icons {
		display: block;
		width: 225px;
	}
	.social-icons a {
		margin-left: 15px;
		margin-right: 15px;
	}
	.team .social-icons { width: auto; }
	.team .social-icons a { margin-left: 0; }
	
}

/*Phone Portrait*/
@media screen and (max-width: 440px) {
	
	.menu-toggle { top: 20px; }
	#phone { margin: 100px auto 100px auto; }
	.logo { top: -785px; }
	.buttons { padding-left: 22%; }
	.buy-btn {
		font-size: 1em;
		padding: 18px 40px 18px 27px;
		height: 72px;
	}
	.subscription-form #submit { width: 100px; }
	.subscription-form #email {
		font-size: 1.2em;
		padding: 0 110px 0 15px;
	}
	
}

@media screen and (max-width: 340px) {
	
	.buttons { padding-left: 17%; }
	
}